<table class="table table-sm table-hover table-striped">
  <thead>
    <tr>
      <th scope="col" class="col text-center">Name</th>
      <th scope="col" class="col text-center">Allegro Pay</th>
      <th scope="col" class="col text-center">Business Private</th>
      <th scope="col" class="col text-center">Total</th>

      <th scope="col" class="col text-center">Invoice Received</th>
      <th scope="col" class="col text-center">Package Received</th>
      <th scope="col" class="col text-center">Received Date</th>

      <th scope="col" class="col text-center">Return Issued</th>

      <th scope="col" class="col text-center">Return To&nbsp;Date</th>
      <th scope="col" class="col text-center">Return Code</th>
      <th scope="col" class="col text-center">Return Total</th>

      <th scope="col" class="col text-center">Return Sended</th>
      <th scope="col" class="col text-center">Return Delivered</th>
      <th scope="col" class="col text-center">Cash Returned</th>
      <th scope="col" class="col text-center">Invoice Corr&nbsp;Rcvd</th>

      <th scope="col" class="col text-center">Finished</th>
      <th scope="col" class="col text-center">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of ordersList" (click)="onEdit(order)">
      <td  class="col-6">
        <span *ngIf="!(order?.name === isEdited?.name)">{{order.name}}</span><br>
      
          <div *ngIf="order?.name === isEdited?.name" class="col">
            <input [(ngModel)]="order.name" type="text" class="form-control form-control-sm" id="colFormLabelSm" 
            placeholder="col-form-label-sm">
          </div>
      </td>








      <td class="text-center">
        <div>
          <input [(ngModel)]="order.isAllegroPay" class="form-check-input checkbox " type="checkbox" id="checkboxNoLabel" [value]="order.isAllegroPay" aria-label="...">
        </div>
      </td>

      <td class="text-center ">
        <div>
          <input [(ngModel)]="order.isBusinessOrder" class="form-check-input checkbox " type="checkbox" id="checkboxNoLabel" [value]="order.isBusinessOrder" aria-label="..." >
        </div>
      </td>

      <td class="text-center text-nowrap"> {{order.orderValue | plnPipe}}</td>

      <!-- ============ -->
      
      <td class="text-center">{{order.isInvoiceReceived}}</td>
      <td class="text-center">{{order.isPackageReceived}}</td>
      <td class="text-center">{{order.receivedDate}}</td>
      <td class="text-center">{{order.isReturnIssued}}</td>

      <td class="text-center">{{order.returnToDate}}</td>
      <td class="text-center">{{order.returnCode}}</td>
      <td class="text-center text-nowrap">{{order.returnValue | plnPipe}}</td>

      <td class="text-center">{{order.isReturnSended}}</td>
      <td class="text-center">
        <i *ngIf="order.isReturnDelivered" class="fa fa-check-circle " aria-hidden="true"></i>
        <i *ngIf="!order.isReturnDelivered" class="fa fa-times-circle"></i>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </td>
      <td class="text-center">{{order.isCashReturned}}</td>
      <td>{{order.isInvoiceCorrectionReceived}}</td>

      <td class="text-center">{{order.isFinished}}</td>
      <td>{{order.comment}}</td>
    </tr>








  </tbody>
</table>
