<td class="col-12">
  <div class="d-flex align-items-center">




    <!-- <i class="fa fa-cloud-download" aria-hidden="true"></i>
<i class="fas fa-cloud-download    "></i>
<i class=" fa-cloud-download    "></i>
<i class="fa fas fa-cloud-download" aria-hidden="true"></i>
<i class="far fa-cloud-download    "></i> -->

    <!-- <i class="fa fa-solid fa-cloud-arrow-down"></i> -->

    <!-- <i class="fa-solid fa-arrow-down-from-dotted-line"></i>
    <i class="fa-regular fa-cloud-arrow-down"></i>
    <i class="fa-solid fa-cloud-arrow-down"></i>
    <i class="fa-solid fa-down-from-dotted-line"></i>
    <i class="fa-solid fa-arrow-down-from-dotted-line"></i>
    <i class="fa-solid fa-arrow-down-to-dotted-line"></i>
    <i class="fa-regular fa-cloud-arrow-down"></i> -->




    <!-- <i class="fas fa-cloud-download-alt    "></i> -->
    
    <button type="button" name="" id="" class="btn btn-primary btn-sm open-modal-button"
            (click)="onOpenDetails(order)">
      <span> <i class="fas fa-file-import    "></i> </span>
    </button>


    <!-- <button *ngIf="order.id === ''" type="button" class="btn btn-primary add-button" (click)="addNew()">
      <div class="add-icon"><i class="fa fa-plus " aria-hidden="true"></i></div>
    </button> -->
    <span *ngIf="order.isNew" class="badge badge-pill bg-primary">New</span>

    <div *ngIf="!isInEdit" class="order-name">{{order.name}}</div>
    <textarea *ngIf="isInEdit" [(ngModel)]="order.name"
              class="form-control name" id="exampleFormControlTextarea1"
              [rows]="order.id === '' ? 1 : 3"
              (focusout)="onLostFocus($event)"
              aria-label="With textarea">
            </textarea>
  </div>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.purchase.isAllegroPay" [disabled]="true" readonly="true"></app-tri-state-check-box>
</td>


<td class="text-center text-nowrap">
  <span *ngIf="!isInEdit" class="">{{order.purchase.orderValue | plnPipe}}</span>
  <input *ngIf="isInEdit" [(ngModel)]="order.purchase.orderValue"
         class="form-control" type="number">
</td>


<!-- ============ -->
<td class="text-center  d-flsex flex-column">
  <div class="status-col">
    <span class="badge badge-pill bg-primary"
    [ngClass]="{
      'bg-success' : hasStatus(parcelStatuses.DELIVERED),
      'bg-warning' : hasStatus(parcelStatuses.AVAILABLE_FOR_PICKUP)
    } ">{{getStatus()}}</span>
    <!-- km progress bar here -->
    <!-- km date bar here -->
    <br>
    <span  class="status-date">{{order.purchase.statusTimestamp | date:'yyyy-MM-dd'}} </span>
  </div>
 </td>




<!-- <td class="text-center ">
  <app-tri-state-check-box [value]="order.purchase.hasInvoice" [disabled]="true" readonly="true"></app-tri-state-check-box>
</td> -->

<td class="text-center ">
  <app-tri-state-check-box [(value)]="order.purchase.isInvoiceReceived" 
  (valueChange)="triStateClicked($event, 'invoiceReceived')"
  [disabled]="order.purchase.isInvoiceReceived === triStateStauses.NA"
  >
  </app-tri-state-check-box>
</td>



<td class="text-center ">
  <!-- <form class="form-inline"> -->
  <!-- <div class="form-group"> -->
  <!-- <div class="input-group"> -->
  <div class="d-flex">
    <span *ngIf="!isInEdit"
          class="return-to-date"
          (click)="d.toggle()">
      {{getReturnToDate()}}
    </span>

    

    <!-- [(ngModel)]="order.purchase.statusTimestamp" -->
    
    <input [hidden]="!isInEdit"
          [value]="getReturnToDate()"
          (dateSelect)="setReturnToDate($event)"
          class="form-control return-to-date"
          name="dp"
          (click)="d.toggle()"
          ngbDatepicker #d="ngbDatepicker"
[placement]="'bottom'">
    <!-- (closed)="onDateSelected(order)" -->
    <!-- [positionTarget]="buttonEl" -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </form> -->
  </div>
</td>
































































<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isFinished"></app-tri-state-check-box>
</td>


<td class="text-center">
  <div class="d-flex">
    <span *ngIf="!isInEdit" class="">{{order.comment}}</span>
    <textarea *ngIf="isInEdit" [(ngModel)]="order.comment"
              id="exampleFormControlTextarea1" class="form-control text-area"
              [rows]="order.id === '' ? 1 : 3"
              aria-label="With textarea">
  </textarea>
  </div>
</td>
