<td class="col-12">
  <div class="d-flex align-items-center">

    <button *ngIf="order.id === ''" type="button" class="btn btn-primary add-button" (click)="addNew()">
      <div class="add-icon"><i class="fa fa-plus " aria-hidden="true"></i></div>
    </button>

    <span *ngIf="!isInEdit" class="">{{order.name}}</span>
    <textarea *ngIf="isInEdit" [(ngModel)]="order.name"
              class="form-control name" id="exampleFormControlTextarea1"
              [rows]="order.id === '' ? 1 : 3" 
              (focusout)="onLostFocus($event)"
              aria-label="With textarea"
              >
            </textarea>
  </div>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isAllegroPay"></app-tri-state-check-box>
</td>


<td class="text-center ">
  <app-tri-state-check-box [(value)]="order.hasInvoice" (click)="triStateClicked('hasInvoice')"></app-tri-state-check-box>
</td>


<td class="text-center text-nowrap">
  <span *ngIf="!isInEdit" class="">{{order.orderValue | plnPipe}}</span>
  <input *ngIf="isInEdit" [(ngModel)]="order.orderValue"
         class="form-control" type="number">
</td>


<!-- ============ -->


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isInvoiceReceived"></app-tri-state-check-box>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isPackageDelivered"></app-tri-state-check-box>
</td>


<td class="text-center ">
  <!-- <form class="form-inline"> -->
    <!-- <div class="form-group"> -->
      <!-- <div class="input-group"> -->
      <div class="d-flex">
        <span *ngIf="!isInEdit"
              class="return-to-date"
              (click)="d.toggle()">{{order?.receivedDate | myDate}}
        </span>

        <input [hidden]="!isInEdit"
               [(ngModel)]="order.receivedDate"
               class="form-control return-to-date"
               name="dp"
               (click)="d.toggle()"
               ngbDatepicker #d="ngbDatepicker"
               [placement]="'bottom'">
        <!-- (closed)="onDateSelected(order)" -->
        <!-- [positionTarget]="buttonEl" -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </form> -->
      </div>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isReturnIssued"></app-tri-state-check-box>
</td>


<td class="text-center ">
  <!-- <form class="form-inline"> -->
    <!-- <div class="form-group"> -->
      <!-- <div class="input-group"> -->
      <div class="d-flex">
        <span *ngIf="!isInEdit"
              class="return-to-date"
              (click)="d.toggle()">{{order?.returnToDate | myDate}}
        </span>

        <input [hidden]="!isInEdit"
               [(ngModel)]="order.returnToDate"
               class="form-control return-to-date"
               name="dp"
               (click)="d.toggle()"
               ngbDatepicker #d="ngbDatepicker"
               [placement]="'bottom'">
        <!-- (closed)="onDateSelected(order)" -->
        <!-- [positionTarget]="buttonEl" -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </form> -->
      </div>
</td>


<td class="text-center">
  <div class="d-flex">
    <span *ngIf="!isInEdit" class="return-code">{{order.returnCode}}</span>
    <textarea *ngIf="isInEdit" [(ngModel)]="order.returnCode"
              id="exampleFormControlTextarea1" class="form-control name return-code" 
              [rows]="order.id === '' ? 1 : 4" 
              aria-label="With textarea">
            </textarea>
  </div>
</td>


<td class="text-center text-nowrap">
  <span *ngIf="!isInEdit" class="">{{order.returnValue | plnPipe}}</span>
  <input *ngIf="isInEdit" [(ngModel)]="order.returnValue"
         class="form-control" type="number">
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isReturnSended"></app-tri-state-check-box>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isReturnDelivered"></app-tri-state-check-box>
</td>


<!-- <td class="text-center">
      <i *ngIf="order.isReturnDelivered" class="fa fa-check-circle " aria-hidden="true"></i>
      <i *ngIf="!order.isReturnDelivered" class="fa fa-times-circle"></i>
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </td> -->


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isCashReturned"></app-tri-state-check-box>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isInvoiceCorrectionReceived"></app-tri-state-check-box>
</td>


<td class="text-center">
  <app-tri-state-check-box [(value)]="order.isFinished"></app-tri-state-check-box>
</td>


<td class="text-center">
  <div class="d-flex">
    <span *ngIf="!isInEdit" class="">{{order.comment}}</span>
    <textarea *ngIf="isInEdit" [(ngModel)]="order.comment"
    id="exampleFormControlTextarea1" class="form-control name" 
    [rows]="order.id === '' ? 1 : 3" 
    aria-label="With textarea">
  </textarea>
</div>
</td>
